body {
  background-image: url('/scaling-meme/assets/img/yoink.jpg');
  background-repeat:repeat-x;
  background-attachment: fixed;
}
.centre {
  border-collapse: collapse;
  margin: 0 auto;
  background-color: rgba(90, 131, 180, 0.9);
  width: 90%;
}
.content{
  display: grid;
  grid-template-areas: 
    "main right";
  grid-template-columns:  3fr 1fr;
}
.centre {
  text-align: center;
  grid-area: main;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
.nav {
  grid-area: nav;
}
.baby {
  width: 4em; 
}
.ad{ 
  border-radius: 100%;
  color: white;
  display: inline-block;
  animation: admination 1s infinite 0s linear;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: bisque;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  display: table-cell;
  vertical-align: middle;
  padding: 12px 16px;
  margin: auto auto;
}


.dropdown:hover .dropdown-content {
  display: block;
  min-height: 3em;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.sideR{
  grid-area: Right;
  margin-top: 10em;
  border: solid red;
  margin-bottom: 10em;
  width: 150px;
  float: right;
  margin-right: 2em;
}
.haus{
  background-color: #40b040;
  display: flex;
  flex-flow: row;
  height: 2em;
  justify-content: space-around;
}
.valmynd {
  font-size: 1.6em;
  font-weight: bold;
}
.baby {

  padding-right: 1em;
}
th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(100, 140, 190);
}
